# .env.example

# Application
DATABASE_URL=jdbc:postgresql://localhost:5432/bankingkata
DATABASE_USERNAME=your_username
DATABASE_PASSWORD=your_password

# Docker
POSTGRES_DB=your_database_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password